searchpubchem/searchpubchem/xsds/pug_rest.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Fault">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Code" type="xs:string"/>
        <xs:element name="Message" type="xs:string"/>
        <xs:element name="Details" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Waiting">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ListKey" type="xs:string"/>
        <xs:element name="Message" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="PropertyTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Properties" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CID" type="xs:int"/>
              <xs:element name="MolecularFormula" type="xs:string" minOccurs="0"/>
              <xs:element name="MolecularWeight" type="xs:double" minOccurs="0"/>
              <xs:element name="CanonicalSMILES" type="xs:string" minOccurs="0"/>
              <xs:element name="IsomericSMILES" type="xs:string" minOccurs="0"/>
              <xs:element name="InChI" type="xs:string" minOccurs="0"/>
              <xs:element name="InChIKey" type="xs:string" minOccurs="0"/>
              <xs:element name="IUPACName" type="xs:string" minOccurs="0"/>
              <xs:element name="XLogP" type="xs:double" minOccurs="0"/>
              <xs:element name="ExactMass" type="xs:double" minOccurs="0"/>
              <xs:element name="MonoisotopicMass" type="xs:double" minOccurs="0"/>
              <xs:element name="TPSA" type="xs:double" minOccurs="0"/>
              <xs:element name="Complexity" type="xs:int" minOccurs="0"/>
              <xs:element name="Charge" type="xs:int" minOccurs="0"/>
              <xs:element name="HBondDonorCount" type="xs:int" minOccurs="0"/>
              <xs:element name="HBondAcceptorCount" type="xs:int" minOccurs="0"/>
              <xs:element name="RotatableBondCount" type="xs:int" minOccurs="0"/>
              <xs:element name="HeavyAtomCount" type="xs:int" minOccurs="0"/>
              <xs:element name="IsotopeAtomCount" type="xs:int" minOccurs="0"/>
              <xs:element name="AtomStereoCount" type="xs:int" minOccurs="0"/>
              <xs:element name="DefinedAtomStereoCount" type="xs:int" minOccurs="0"/>
              <xs:element name="UndefinedAtomStereoCount" type="xs:int" minOccurs="0"/>
              <xs:element name="BondStereoCount" type="xs:int" minOccurs="0"/>
              <xs:element name="DefinedBondStereoCount" type="xs:int" minOccurs="0"/>
              <xs:element name="UndefinedBondStereoCount" type="xs:int" minOccurs="0"/>
              <xs:element name="CovalentUnitCount" type="xs:int" minOccurs="0"/>
              <xs:element name="Volume3D" type="xs:double" minOccurs="0"/> 
              <xs:element name="XStericQuadrupole3D" type="xs:double" minOccurs="0"/> 
              <xs:element name="YStericQuadrupole3D" type="xs:double" minOccurs="0"/> 
              <xs:element name="ZStericQuadrupole3D" type="xs:double" minOccurs="0"/> 
              <xs:element name="FeatureCount3D" type="xs:int" minOccurs="0"/> 
              <xs:element name="FeatureAcceptorCount3D" type="xs:int" minOccurs="0"/> 
              <xs:element name="FeatureDonorCount3D" type="xs:int" minOccurs="0"/> 
              <xs:element name="FeatureAnionCount3D" type="xs:int" minOccurs="0"/> 
              <xs:element name="FeatureCationCount3D" type="xs:int" minOccurs="0"/> 
              <xs:element name="FeatureRingCount3D" type="xs:int" minOccurs="0"/> 
              <xs:element name="FeatureHydrophobeCount3D" type="xs:int" minOccurs="0"/> 
              <xs:element name="ConformerModelRMSD3D" type="xs:double" minOccurs="0"/> 
              <xs:element name="EffectiveRotorCount3D" type="xs:double" minOccurs="0"/> 
              <xs:element name="ConformerCount3D" type="xs:int" minOccurs="0"/> 
              <xs:element name="Fingerprint2D" type="xs:base64Binary" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="InformationList">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Information" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:choice>
                <xs:element name="CID" type="xs:int"/>
                <xs:element name="SID" type="xs:int"/>
                <xs:element name="AID" type="xs:int"/>
              </xs:choice>
              <xs:element name="Synonym" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="CID" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="SID" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="AID" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="GI" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="GeneID" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="DepositionDate" type="DateTime" minOccurs="0"/>
              <xs:element name="ModificationDate" type="DateTime" minOccurs="0"/>
              <xs:element name="CreationDate" type="DateTime" minOccurs="0"/>
              <xs:element name="HoldDate" type="DateTime" minOccurs="0"/>
              <xs:element name="RegistryID" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="RN" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="PubMedID" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="MMDBID" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="DBURL" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="SBURL" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="ProteinGI" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="NucleotideGI" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="TaxonomyID" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="MIMID" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="ProbeID" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="PatentID" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="ProteinName" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="GeneSymbol" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="SourceName" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="SourceCategory" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="Title" type="xs:string" minOccurs="0"/>
              <xs:element name="Description" type="xs:string" minOccurs="0"/>
              <xs:element name="DescriptionSourceName" type="xs:string" minOccurs="0"/>
              <xs:element name="DescriptionURL" type="xs:string" minOccurs="0"/>
              <xs:element name="ConformerID" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="SourceName" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="DateTime">
    <xs:sequence>
      <xs:element name="Year" type="xs:int" minOccurs="0"/>
      <xs:element name="Month" type="xs:int" minOccurs="0"/>
      <xs:element name="Day" type="xs:int" minOccurs="0"/>
      <xs:element name="Hour" type="xs:int" minOccurs="0"/>
      <xs:element name="Minute" type="xs:int" minOccurs="0"/>
      <xs:element name="Second" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="IdentifierList">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CID" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="SID" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="AID" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="ListKey" type="xs:string" minOccurs="0"/>
        <xs:element name="Size" type="xs:int" minOccurs="0"/>
        <xs:element name="EntrezDB" type="xs:string" minOccurs="0"/>
        <xs:element name="EntrezWebEnv" type="xs:string" minOccurs="0"/>
        <xs:element name="EntrezQueryKey" type="xs:int" minOccurs="0"/>
        <xs:element name="EntrezURL" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Table">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Columns">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Column" type="xs:string" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Row" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Cell" type="xs:string" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="TableSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="NumberOfRows" type="xs:int"/>
        <xs:element name="ColumnValues" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ColumnName" type="xs:string"/>
              <xs:element name="Item" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Value" type="xs:string"/>
                    <xs:element name="Count" type="xs:int"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AssaySummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AID"                    type="xs:int"                                               />
        <xs:element name="SourceName"             type="xs:string"                                            />
        <xs:element name="SourceID"               type="xs:string"                                            />
        <xs:element name="Name"                   type="xs:string"                                            />
        <xs:element name="Description"            type="xs:string"    minOccurs="0"   maxOccurs="unbounded"   />
        <xs:element name="Protocol"               type="xs:string"    minOccurs="0"   maxOccurs="unbounded"   />
        <xs:element name="Comment"                type="xs:string"    minOccurs="0"   maxOccurs="unbounded"   />
        <xs:element name="NumberOfTIDs"           type="xs:int"                                               />
        <xs:element name="HasScore"               type="xs:boolean"                                           />
        <xs:element name="Method"                 type="xs:string"    minOccurs="0"                           />
        <xs:element name="Target"                                     minOccurs="0"   maxOccurs="unbounded"    >
          <xs:complexType>
            <xs:sequence>
              <xs:element name="GI"               type="xs:int"                                               />
              <xs:element name="Name"             type="xs:string"    minOccurs="0"                           />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Version"                type="xs:int"                                               />
        <xs:element name="Revision"               type="xs:int"                                               />
        <xs:element name="LastDataChange"         type="DateTime"                                             />
        <xs:element name="SIDCountAll"            type="xs:int"                                               />
        <xs:element name="SIDCountActive"         type="xs:int"                                               />
        <xs:element name="SIDCountInactive"       type="xs:int"                                               />
        <xs:element name="SIDCountInconclusive"   type="xs:int"                                               />
        <xs:element name="SIDCountUnspecified"    type="xs:int"                                               />
        <xs:element name="SIDCountProbe"          type="xs:int"                                               />
        <xs:element name="CIDCountAll"            type="xs:int"                                               />
        <xs:element name="CIDCountActive"         type="xs:int"                                               />
        <xs:element name="CIDCountInactive"       type="xs:int"                                               />
        <xs:element name="CIDCountInconclusive"   type="xs:int"                                               />
        <xs:element name="CIDCountUnspecified"    type="xs:int"                                               />
        <xs:element name="CIDCountProbe"          type="xs:int"                                               />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AssaySummaries">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="AssaySummary" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
